body{
    background-image: url('https://i.pinimg.com/originals/de/8f/53/de8f5378cc31c36e19ed85515ec8a043.jpg');
     background-repeat: no-repeat;
    background-size: 100%; 
    color: white;
    height: 2500px;
    width: 100%;
   
}

.heading h1{
    color: white;
    text-align: center;
    margin-top: 170px;
    
    font-size: 50px;
}
.heading p{
 text-align: center;
color: white;
margin-bottom: 170px;
 font-size: 20px;   
}
.right{
display:inline block;
font-size: 20px;
background-color: black;
margin-top: 40px;
text-align: right;

}
.right a{
color: white;
text-decoration: none;
font-family: sans-serif;
padding: 2px 40px;
text-align: right;
}
.right a:hover , .right a.active{
text-decoration: underline;
color: grey;
}
.right img{
float:left;
width:38px;
border-radius: 14px;
}
.about{
background-color: black;
}
.about h1{
color: white;
text-align: center;
padding-top: 20px;
font-size: 30px;

}
.about p{
box-sizing: border-box;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 4px 4px;
padding: 20px;
font-size: 20px;
background-color: rgb(222, 218, 218);
}
#About{
    background-color: black;
}
.card img{
height: 250px;
width: 100%;
background-color: black;
}
.con h1{
    margin-top: 600px;
}
.contact p{
color: white;
box-sizing: border-box;
text-align: center;
border: 2px solid black;
margin: 4px 4px;
margin-top: 100px;
padding: 20px;
font-size: 20px;

}
.card h6{
text-align: center;
}
#Services{
    background-color: rgb(222, 218, 218);
    
}
.services  h3{
    padding-top: 50px;
    text-align: center;
    margin-top: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 30px;
}
.col{
    text-align: center;
    
}
.col img{
    width: 200px;
    margin-left: 100px;
    align-items: center;
    height: 150px;
}
#FAQ{
    background-color: rgb(222, 218, 218);
}
.faq h1{
    text-decoration: underline;
    color: black;
    text-align: center;
}
.faq h4{
    color: black;
    margin: 20px 20px;
}
.faq p{
    color: black;
   margin:  20px 20px;
font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card{
    text-align: center;
}
